* {
  padding: 0; 
  margin: 0; 
}

:root {
  --1: #2a2438;
  --2: #383346;
  --3: #5c5470;
  --4: #b7afcc;
}

body {
  background-color: var(--1);
}

.header {
  display: block;
  background-color: var(--2);
  height: 10vh;
  width: 100%;
  padding: 15px 10px;
}
.txtHeader {
  display: block;
  background-color: transparent;
  font-size: 30px;
  text-align: center;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
}
.txtHeader:hover,
.txtHeader:focus {
  border: none;
  background-color: var(--3);
}

.txtContent {
  height: 80vh;
  width: 100%;
  background-color: var(--4);
  border: none;
  outline: none;
  padding: 10px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

footer p {
  color: white; 
}

footer a {
  color: var(--4); 
}
