* {
  padding: 0; 
  margin: 0; 
}

:root {
  --1: #2a2438;
  --2: #383346;
  --3: #5c5470;
  --4: #b7afcc;
}

body {
  background-color: var(--1);
  /* height: 100%; */
}

.modal {
  background-color: var(--4); 
  width: 450px;
  padding: 30px 40px;
  position: absolute;
  z-index: 10;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.modal>button {
  display: block;
  margin: 0 0 20px auto;
  background-color: transparent;
  font-size: 30px;
  color: #c5c5c5;
  border: none;
  outline: none;
  cursor: pointer;
}

.modal>p {
  font-size: 14px;
  text-align: justify;
  margin: 20px 0;
  line-height: 25px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.main-content {
  display: flex;
}

.note-area {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.quire-icon {
  width: 30px;
  height:30px;
  margin: 1.5rem;
  border-bottom: 1px;
}

a:hover {
  background-color: rgb(87, 43, 87);
  width: 100%;
}

.search-icon {
  width: 25px;
  height: 25px;
  margin: 1.5rem;
}

.favorite-icon {
  width: 23px;
  height: 23px;
  margin: 1.5rem;
}

.settings-icon {
  width: 25px;
  height: 25px;
  margin: 1.5rem;
}

.navbar {
  width: 10%;
  height: 100%;
  background-color: var(--4);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navlinks {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}



.header {
  display: block;
  background-color: var(--2);
  height: 10vh;
  width: 100%;
  padding: 15px 10px;
}
.txtHeader {
  display: block;
  background-color: transparent;
  font-size: 30px;
  text-align: center;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
}
.txtHeader:hover,
.txtHeader:focus {
  border: none;
  background-color: var(--3);
}

.txtContent {
  height: 80vh;
  width: 100%;
  background-color: white;
  border: none;
  outline: none;
  padding: 10px;
}

.edit-icon {
  position: relative;
  top: -10rem; 
  margin: 20px; 
  float: right; 
  background-color: var(--1);
  border-radius: 50%;
  width: 6rem; 
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s transform;
}

.edit-icon:hover {
  transform: scale(1.2);
}

.edit-icon img {
  max-width: 100%;
  object-fit: cover;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

footer p {
  color: white; 
}

footer a {
  color: var(--4); 
}
